.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #e0f7fa, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

.hero-content {
    margin-bottom: 30px;
}

.hero-content h1 {
    font-size: 48px;
    color: #2d2b2b;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

.cta-button {
    background-color: #ff5722;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e64a19;
}

.hero-image img {
    width: 100%;
    max-width: 350px;
    /* Adjusted to ensure the image is not too large */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.hero-image img:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .hero-content {
        flex: 1;
        margin-right: 20px;
    }

    .hero-image {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}