/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: rgb(45, 43, 43);
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    height: 60px;
    width: 60px;
    background: none;
    border-radius: 50%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .hamburger,
.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
    content: '';
    background-color: white;
    height: 4px;
    width: 25px;
    border-radius: 2px;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(45, 43, 43);
        position: absolute;
        top: 60px;
        /* Adjusted to match the header height */
        left: 0;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-item {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }
}